@import '../variables';

.btn-danger {
    font-size: 14px;
    border-radius: 12px;
    background-color: $color-red;
    color: $color-white;
    padding: 7px 48px 7px 48px;

    &:hover {
        background-color: $color-red;
    }
}

.btn-secondary {
    background-color: $color-grey;
    border: 1px solid transparent;

    .icon-shopping-bag {
        &:hover {
            color: $color-grey;
        }
    }

    .icon-user {
        &hover {
            span {
                content: url('https://api.iconify.design/carbon:user-avatar-filled.svg?height=32');
                vertical-align: -0.125em;
            }
        }
    }

    &:hover, &:active, &:focus {
        background-color: $color-grey;
        border: 1px solid transparent;
    }
    
}