.col-md-2 {
    padding: 8px;
}

.card {
    border-radius: 10px;
    padding: 0px;
    border: 1px solid transparent;
    height: 300px;

    .product-desc {
        .product-image {            
            margin-top: 20px;
            margin-bottom: 20px;

            .img-fluid {
                padding-right: 10px;
                padding-left: 10px;
                height: 130px;
            }
        }

        .product-title {
            height: 40px;
            margin: 10px;
            color: $color-dark-blue;
        }
    
        .product-body {
            margin: 10px;
            color: $color-red;
        }
    } 

    &:hover {
        transform: translate(0px, -5px);
        transition: all 0.3s ease-in-out;
        box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.2);
    }
}

@media (min-width: 280px) {
    .card {
        margin-bottom: 20px;
    }
}