@import '../variables';

h5 {
    color: $color-dark-blue;
}

.clear-btn {
    color: #8f9bb3;
    text-decoration: underline;
}

hr {
    margin-left: 0px;
    margin-right: 0px;
}

.total-price {
    font-size: 16px;
    margin-right: auto;
    font-weight: 700;
}

#gm-cart {
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    background: $color-white;
    z-index: 1032;
    transition: 3s all ease-in;

    .gm-cart-items {        
        padding: 10px;
        list-style-type: none;
        text-decoration: none;

        .btn-action {
            margin-left: 40px;
        }

        .btn {
            color: $color-dark-blue;
            background: $color-white;
            border: 1px solid rgba(0,0,0,.1);

            &:hover {
                background: $color-red;
                color: $color-white;
                border: 1px solid $color-red;
            }
        }
    }
}

.checkout-btn {
    margin-top: 140px;
    font-size: 18px;
    font-weight: 500;
}