@import '../variables';

footer {
    background-color: $color-dark-blue;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;

    .copyright {
        p {
            color: $color-white;
        }
    }
}