.bg-light {
    background-color: $color-white!important;
}
    
nav {
    box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.2);
    padding-top: 16px;
    padding-bottom: 16px;

    .nav-container {
        width: 100%;
        padding: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .gmart-logo {
        margin-right: 0px;
    }

    .fa {
        position: absolute;
        margin-top: 25px;
        margin-left: 60px;
    }

    .form-control {
        margin-top: 10px;
        margin-left: 40px;        
        border-radius: 8px;
        background-color: $color-grey;
        border: 1px solid transparent;
        padding-left: 60px;
        padding-right: 390px;
        height: 48px;
        font-size: 15px;
        line-height: 24px;

        &:focus, &:hover, &:active {
            background-color: $color-grey;
            border: 1px solid #3898EC;
        }
    }

    label {
        background-color: $color-red;
        font-size: 12px;
        border-radius: 15px;
        padding: 1px 8px;
        position: absolute;
        z-index: 1;
        margin-left: -6px;
        top: 18px;
    }

    .cart {
        background: url('https://api.iconify.design/ri:shopping-bag-3-line.svg') no-repeat center center;
        background-color: $color-grey;
        padding: 23px;
        background-size: 24px;

        &:hover {
            background: url('https://api.iconify.design/ri:shopping-bag-3-fill.svg') no-repeat center center;
            background-color: $color-grey;
            padding: 23px;
            background-size: 24px;
        }
    }

    .user {
        background: url('https://api.iconify.design/bx:bx-user-circle.svg') no-repeat center center;
        background-color: $color-grey;
        padding: 23px;
        background-size: 24px;

        &:hover {
            background: url('https://api.iconify.design/carbon:user-avatar-filled.svg') no-repeat center center;
            background-color: $color-grey;
            padding: 23px;
            background-size: 24px;
        }
    }

    .search {
        background: url('https://api.iconify.design/feather:search.svg') no-repeat center center;
        background-color: $color-grey;
        padding: 23px;
        background-size: 24px;

        &:hover {
            background: url('https://api.iconify.design/ri:search-fill.svg') no-repeat center center / contain;
            background-color: $color-grey;
            padding: 23px;
            background-size: 24px;
        }
    }
}

@media (min-width: 801px) {   
    .hidden-lg {
        display: none;
    }

    .hidden-sm {
        display: inline-block;
    }
}

@media (max-width: 800px) {
    .hidden-sm {
        display: none;
    }
}
