body {
  font-family: "Rubik";
  background-color: #F7F9FC;
  margin: 0;
  padding: 0;
  height: 100%;
}

body #main-mart {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 20px;
  padding-left: 20px;
}

.bg-light {
  background-color: #FFFFFF !important;
}

nav {
  -webkit-box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding-top: 16px;
  padding-bottom: 16px;
}

nav .nav-container {
  width: 100%;
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

nav .gmart-logo {
  margin-right: 0px;
}

nav .fa {
  position: absolute;
  margin-top: 25px;
  margin-left: 60px;
}

nav .form-control {
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 8px;
  background-color: #f7f9fc;
  border: 1px solid transparent;
  padding-left: 60px;
  padding-right: 390px;
  height: 48px;
  font-size: 15px;
  line-height: 24px;
}

nav .form-control:focus, nav .form-control:hover, nav .form-control:active {
  background-color: #f7f9fc;
  border: 1px solid #3898EC;
}

nav label {
  background-color: #D63B30;
  font-size: 12px;
  border-radius: 15px;
  padding: 1px 8px;
  position: absolute;
  z-index: 1;
  margin-left: -6px;
  top: 18px;
}

nav .cart {
  background: url("https://api.iconify.design/ri:shopping-bag-3-line.svg") no-repeat center center;
  background-color: #f7f9fc;
  padding: 23px;
  background-size: 24px;
}

nav .cart:hover {
  background: url("https://api.iconify.design/ri:shopping-bag-3-fill.svg") no-repeat center center;
  background-color: #f7f9fc;
  padding: 23px;
  background-size: 24px;
}

nav .user {
  background: url("https://api.iconify.design/bx:bx-user-circle.svg") no-repeat center center;
  background-color: #f7f9fc;
  padding: 23px;
  background-size: 24px;
}

nav .user:hover {
  background: url("https://api.iconify.design/carbon:user-avatar-filled.svg") no-repeat center center;
  background-color: #f7f9fc;
  padding: 23px;
  background-size: 24px;
}

nav .search {
  background: url("https://api.iconify.design/feather:search.svg") no-repeat center center;
  background-color: #f7f9fc;
  padding: 23px;
  background-size: 24px;
}

nav .search:hover {
  background: url("https://api.iconify.design/ri:search-fill.svg") no-repeat center center/contain;
  background-color: #f7f9fc;
  padding: 23px;
  background-size: 24px;
}

@media (min-width: 801px) {
  .hidden-lg {
    display: none;
  }
  .hidden-sm {
    display: inline-block;
  }
}

@media (max-width: 800px) {
  .hidden-sm {
    display: none;
  }
}

h5 {
  color: #D63B30;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-md-2 {
  padding: 8px;
}

.card {
  border-radius: 10px;
  padding: 0px;
  border: 1px solid transparent;
  height: 300px;
}

.card .product-desc .product-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card .product-desc .product-image .img-fluid {
  padding-right: 10px;
  padding-left: 10px;
  height: 130px;
}

.card .product-desc .product-title {
  height: 40px;
  margin: 10px;
  color: #222b45;
}

.card .product-desc .product-body {
  margin: 10px;
  color: #D63B30;
}

.card:hover {
  -webkit-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.2);
}

@media (min-width: 280px) {
  .card {
    margin-bottom: 20px;
  }
}

h5 {
  color: #222b45;
}

.clear-btn {
  color: #8f9bb3;
  text-decoration: underline;
}

hr {
  margin-left: 0px;
  margin-right: 0px;
}

.total-price {
  font-size: 16px;
  margin-right: auto;
  font-weight: 700;
}

#gm-cart {
  margin: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  background: #FFFFFF;
  z-index: 1032;
  -webkit-transition: 3s all ease-in;
  transition: 3s all ease-in;
}

#gm-cart .gm-cart-items {
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
}

#gm-cart .gm-cart-items .btn-action {
  margin-left: 40px;
}

#gm-cart .gm-cart-items .btn {
  color: #222b45;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#gm-cart .gm-cart-items .btn:hover {
  background: #D63B30;
  color: #FFFFFF;
  border: 1px solid #D63B30;
}

.checkout-btn {
  margin-top: 140px;
  font-size: 18px;
  font-weight: 500;
}

.btn-danger {
  font-size: 14px;
  border-radius: 12px;
  background-color: #D63B30;
  color: #FFFFFF;
  padding: 7px 48px 7px 48px;
}

.btn-danger:hover {
  background-color: #D63B30;
}

.btn-secondary {
  background-color: #f7f9fc;
  border: 1px solid transparent;
}

.btn-secondary .icon-shopping-bag:hover {
  color: #f7f9fc;
}

.btn-secondary .icon-userhover span {
  content: url("https://api.iconify.design/carbon:user-avatar-filled.svg?height=32");
  vertical-align: -0.125em;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #f7f9fc;
  border: 1px solid transparent;
}

footer {
  background-color: #222b45;
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .copyright p {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */