@import '../variables';

body {
    font-family: $font-family-rubik;
    background-color: #F7F9FC;
    margin:0;
    padding:0;
    height:100%;

    #main-mart {
        padding-top: 120px;
        padding-bottom: 120px;
        padding-right: 20px;
        padding-left: 20px;
    }
}